body {
  margin: 30px;
  margin-left: 350px;

  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Times New Roman",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:#660066;
  background:#e6e6ff;
  font-size:13px;

  
}


button{
  color:#ffe6ff;
  background:#660066;
  height:30px;
  border-radius:12px;
  border: 2px solid;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

